<div class="user-search-form" style="margin-top: 10px;" [hidden]="hideForm">
    <p-selectButton [options]="listOfTypes" [(ngModel)]="Type" optionLabel="name" [disabled]="!editable || disabled"></p-selectButton>
    <div *ngIf="Type.value == 1">
        <p style="margin: 10px 0;">Введите ФИО пользователя:</p>
        <p-autoComplete [(ngModel)]="lastSelected" [suggestions]="_foundedUsers" (completeMethod)="searchUserByFIO($event)" styleClass="w-100"
                        [minLength]="3" placeholder="Введите ФИО" field="userFIO" (onSelect)="AddUser($event)" [multiple]="false"
                        [disabled]="!editable || disabled">
        </p-autoComplete>
        <div *ngIf="result != null">
            <p style="margin: 10px 0;">Выбранные пользователи:</p>
            <table *ngIf="result.length > 0" class="table">
                <thead>
                    <td>#</td>
                    <td>Имя</td>
                    <td>E-mail</td>
                    <td></td>
                </thead>
                <tr *ngFor="let r of result; let i = index">
                    <td>{{i+1}}</td>
                    <td>{{r.userFIO}}</td>
                    <td>{{r.email}}</td>
                    <td>
                        <button *ngIf="editable" (click)="removeUser(r)" class="btn btn-danger btn-sm"><i class="fa fa-times"></i></button>
                    </td>
                </tr>
            </table>
        </div>
    </div>
    <p style="margin: 10px 0;">
        <button *ngIf="editable" type="button" (click)="returnResult()">
            <i class="fa fa-check" aria-hidden="true"></i>Подтвердить
        </button>
        <button *ngIf="!editable && showReCreateButton" type="button" (click)="ReCreate()">
            <i class="fa fa-pencil" aria-hidden="true"></i>Изменить
        </button>
    </p>
</div>