/* You can add global styles to this file, and also import other style files */
html, body {
    height: 100%;
    width: 100%;
    padding: 0;
    margin: 0;
    background-color: #F8F8FF;
}

@font-face {
    font-family: Souvenir;
    src: url(/fonts/Souvenir.ttf);
}

h1,h2,h3,h4,h5,h6{
    padding: 0;
    margin: 0;
    font-family: sans-serif;
    color: #3d3d3d;
}

p{
    font-family: sans-serif;
}
@media (min-width: 1400px)
{
    .container,
    .navbar-static-top .container,
    .navbar-fixed-top .container,
    .navbar-fixed-bottom .container {
        width: 1400px;
    }
}
hr{
    border-top: 1px solid #C8EDED;
}

.navbar{
    margin-bottom: 1em;
}

.header
{
    margin-top: -1em;
    font-size: 1em;
    text-align: center;
    height: 210px;
    background-image: url(/images/kemgu.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-color: #2a2b2d;
    margin-bottom: 2em;
}

.header h1
{
    padding: 2.5em;
    color: white;
}

.header p
{
    color: wheat;
}

* {
    margin: 0;
    padding: 0;
}
html,
body {
    height: 100%;
}
.wrapper {
    display: flex;
    flex-direction: column;
    height: 100%;
}
.content {
    flex: 1 0 auto;
}
.footer {
    flex: 0 0 auto;
}

.w-25{
    width:25%;
}
.w-50{
    width: 50%;
}
.w-75{
    width:75%;
}
.w-100{
    width: 100%;
}

/*Классы для установки ширины для p-autocomplete*/
/*--------------------------------------------------------------------------*/
/* styleClass="w-25" */
.w-25 .ui-autocomplete-multiple-container{
    width: 100%;
}
.w-25 .ui-autocomplete-multiple-container .ui-autocomplete-input-token{
    width: 100%;
}
.w-25 .ui-autocomplete-multiple-container .ui-autocomplete-input-token input{
    width: 100% !important;
}
/* styleClass="w-50" */
.w-50 .ui-autocomplete-multiple-container{
    width: 100%;
}
.w-50 .ui-autocomplete-multiple-container .ui-autocomplete-input-token{
    width: 100%;
}
.w-50 .ui-autocomplete-multiple-container .ui-autocomplete-input-token input{
    width: 100% !important;
}
/* styleClass="w-75" */
.w-75 .ui-autocomplete-multiple-container{
    width: 100%;
}
.w-75 .ui-autocomplete-multiple-container .ui-autocomplete-input-token{
    width: 100%;
}
.w-75 .ui-autocomplete-multiple-container .ui-autocomplete-input-token input{
    width: 100% !important;
}
/* styleClass="w-100" */
.w-100 .ui-autocomplete-multiple-container{
    width: 100%;
}
.w-100 .ui-autocomplete-multiple-container .ui-autocomplete-input-token{
    width: 100%;
}
.w-100 .ui-autocomplete-multiple-container .ui-autocomplete-input-token input{
    width: 100% !important;
}
/*--------------------------------------------------------------------------*/

/*Класс с шириной 100% для PrimeNG компонентов*/
/* styleClass="wid100" */
.wid100{
    width: 100%;
}
.wid100 .ui-autocomplete-multiple-container{
    width: 100%;
}
.wid100 .ui-autocomplete-multiple-container .ui-autocomplete-input-token {
    width: 100%;
}
.wid100 .ui-autocomplete-multiple-container .ui-autocomplete-input-token input{
    width: 100% !important;
}

/*--------------------------------------------------------------------------*/

/*Стилизация кнопок*/

.btn-warning, .btn-warning:focus {
    background-color: #fff;
    border-color: #af8d0b45;
    color: #000000;
    outline: none;
}

.btn-warning:hover {
    border-color: #af8d0b45;
    background-color: #fff;
    color: #000000;
}

.btn-warning:active, .btn-warning:active:hover  {
    background-color: #fff;
    border-color: #cccccc;
    color: #000000;
    box-shadow: inset 1px 1px 12px -2px #af8d0b;
    outline: none;
}

.btn-danger, .btn-danger:focus  {
    background-color: #fff;
    border-color: #af1a2245;
    color: #000000;
    outline: none;
}
.btn-danger:hover {
    background-color: #fff;
    border-color: #af1a2245;
    color: #000000;
}
.btn-danger:active, .btn-danger:active:hover  {
    background-color: #fff;
    border-color: #cccccc;
    color: #000000;
    box-shadow: inset 1px 1px 12px -2px #af1a22;
    outline: none;
}

.btn-success, .btn-success:focus {
    background-color: #fff;
    border-color: #44af4845;
    color: #000000;
    outline: none;
}

.btn-success:hover {
    border-color: #44af4845;
    background-color: #fff;
    color: #000000;
}

.btn-success:active, .btn-success:active:hover  {
    background-color: #fff;
    border-color: #cccccc;
    color: #000000;
    box-shadow: inset 1px 1px 12px -2px #44af48;
    outline: none;
}

#newTaskFull [hidden] {
    display: none !important;
}

#newTaskFull .row {
    margin-bottom: 10px;
}

#newTaskFull p-selectbutton div div {
    border: 1px solid #00000020;
}

#newTaskModal [hidden] {
    display: none !important;
}

#newTaskModal .row {
    margin-bottom: 10px;
}

#newTaskModal p-selectbutton div div {
    border: 1px solid #00000020;
}

#userSearchForm p-autocomplete input {
    width: 100%;
}

#TasksList .ui-tabview .ui-tabview-panels {
    background-color: #ffffff;
    padding: 0.571em 0 0 0;
    border: 0;
    border-top: 1px solid #c8c8c8;
    border-bottom: 1px solid #c8c8c8;
    color: #333333;
}

#TasksList p-tabView table {
    margin-bottom: 0;
}

#TasksList p-tabView table td {
    vertical-align: middle;
}

#userSearchForm td {
    vertical-align: middle;
}

#TasksList .ui-tabview-nav li {
    width: -webkit-calc(50% - 2px);
    width: calc(50% - 2px);
}

#TasksList .ui-tabview-nav li a {
    width: 100%;
    text-align: center;
}

#TasksList .ui-tabview-selected {
    background-color: #000000ab;
    border-color: #c8c8c8;
    color: #333333 !important;
}