<nav class="navbar navbar-default navbar-inverse" role="navigation">
    <div class="container container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" [routerLink]="['/']">
                <i class="fa fa-university" aria-hidden="true"></i>
            </a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">
                <li id="nav-manu-main"><a [routerLink]="['/']"><i class="fa fa-home" aria-hidden="true"></i> Главная</a></li>
                <template [hasRole]="[Roles.Authorized]" [userRole]="globals.role" ><li id="nav-manu-account"><a [routerLink]="[RouteConstants.Account.Lk]"><i class="fa fa-address-card-o" aria-hidden="true"></i> Личный кабинет</a></li></template>
            </ul>
            <form class="navbar-form navbar-right" role="search">
                <template [hasRole]="[Roles.Anonim]" [userRole]="globals.role" ><a [routerLink]="[RouteConstants.Account.Login]" class="btn btn-default"><i class="fa fa-sign-out" aria-hidden="true"></i> Вход</a></template>
                <template [hasRole]="[Roles.Authorized]" [userRole]="globals.role" ><a (click)="logout()" class="btn btn-default"><i class="fa fa-sign-out" aria-hidden="true"></i> Выход</a></template>
            </form>
            <ul class="nav navbar-nav navbar-right">
                <template [hasRole]="[Roles.Administrator]" [userRole]="globals.role" ><li id="nav-manu-account"><a [routerLink]="[RouteConstants.Admin.All]"><i class="fa fa-lock" aria-hidden="true"></i> Адмика</a></li></template>
            </ul>
        </div><!-- /.navbar-collapse -->
    </div><!-- /.container-fluid -->
</nav>
<p-growl [(value)]="msgs"></p-growl>
