<div class="container container-block">
  <div class="row">
    <div class="col-md-12">
      <div class="panel panel-default">
        <div class="panel-body">
          <div class="user-info">
            <div class="user-img">
              <img src="http://www.nr-style.com.ua/images/anonymous.png" alt="">
            </div>
            <div class="user-desc">
              <p class="user-desc-name"> {{user.username}}</p>
              <p class="user-desc-role" *ngFor="let role of user.roles">{{role.roleName}} </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-md-3">
      <div class="head">
        <div class="panel panel-default panel-inverse">
          <div class="panel-heading">
            <h3><i class="fa fa-bars" aria-hidden="true"></i> Меню</h3>
          </div>
          <div class="list-group">
            <a style="cursor: pointer;" (click)="menuToole('news-dispatcher-page')" class="list-group-item">Управление новостями</a>
            <a style="cursor: pointer;" (click)="menuToole('document-page')" class="list-group-item">Докуметооборот</a>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-9">
      <div class="head">
        <document-page></document-page>
        <news-dispatcher-page></news-dispatcher-page>
      </div>
    </div>
  </div>
</div>
