<div class="row" *ngIf="pairs.length > 0 || editable">
  <div class="col-md-3 text-left">
    <p-selectButton [options]="types" [(ngModel)]="selectedType"></p-selectButton>
  </div>
  <div class="col-md-4 text-left">
    <p-button disabled="true" class="ui-button-rounded ui-button-secondary" [label]="'Неделя: ' + (prityWeekNum == 0 ? 'Нечетная' : 'Четная')"></p-button>
  </div>

  <div class="col-md-5 text-right">
    <div class="legend">
      <span><div class="legend-item even"></div> - Четное </span>
      <span><div class="legend-item odd"></div> - Нечетное </span>
      <span><div class="legend-item subgroup-1"></div> - Подгруппа 1 </span>
      <span><div class="legend-item subgroup-2"></div> - Подгруппа 2 </span>
    </div>
  </div>
</div>

<table class="table table-bordered" *ngIf="pairs.length > 0 || editable" id="temp">
  <thead class="thead-black">
  <tr>
    <td ></td>
    <td *ngFor="let day of days">
      {{day}}
    </td>
  </tr>
  </thead>
  <tr class="lesson-row" *ngFor="let lessonTime of lessonsTime">
    <td valign="middle" class="lesson-time" width="9%">
      <div>{{lessonTime.getTime().start | date: 'H:mm'}} - {{lessonTime.getTime().end | date: 'H:mm'}}</div>
    </td>
    <td pDroppable="pnl" [pDroppableDisabled]="!editable" (onDrop)="drop($event, lessonTime, day)"
        (onDragEnter)="dragEnter($event)"
        (onDragLeave)="dragLeave($event)"
        width="13%" *ngFor="let day of days" (click)="onClick($event, day, lessonTime.num)">

      <!-- Для редактируемого вида -->
      <div *ngIf="showedPairs.length == 0">
      <div *ngFor="let pair of pairs">
        <div *ngIf="(pair.weektype == selectedType || pair.weektype == 'Все' || selectedType == 'Все') && pair.dayofweek === day && pair.pairNumber === lessonTime.num">
          <span pDraggable="pnl"
                [pDraggableDisabled]="!editable"
                (onDragStart)="dragStart($event,pair)"
                (onDragEnd)="dragEnd($event)"
                    [ngClass]="{
                          'pair': true,
                          'even': pair.weektype =='Чет' && pair.subgroup == 0,
                          'odd': pair.weektype =='Нечет' && pair.subgroup == 0,
                          'subgroup-1': pair.subgroup == 1 && pair.weektype =='Все',
                          'subgroup-2': pair.subgroup == 2 && pair.weektype =='Все',
                          'odd-subgroup-1': pair.subgroup == 1 && pair.weektype =='Нечет',
                          'odd-subgroup-2': pair.subgroup == 2 && pair.weektype =='Нечет',
                          'even-subgroup-1': pair.subgroup == 1 && pair.weektype =='Чет',
                          'even-subgroup-2': pair.subgroup == 2 && pair.weektype =='Чет'
                            }"
                (click)="editable ? $event.stopPropagation() : clickPair.emit(pair);"
                (mousemove)="onMouseMove($event)"
                (mouseenter)="onMouseEnter($event, day, lessonTime.num, weektype)" (mouseleave)="onMouseLeave()">
            <div *ngIf="pair.weektype !='Все'" class="text-left" style="float: right;font-size: 10px;">{{pair.weektype}}</div>
            <div class="text-left" style="font-size: 10px;">{{pair.pairType.type}}</div>
            <div style="padding-bottom: 7px; font-size: 12px;" class="text-center">
              {{pair.lesson.discipline.name}}
              <span *ngIf="pair.optionally" style="font-size: 10px;">(по выбору)</span>
              <span *ngIf="pair.subgroup != 0" style="font-size: 10px;">(подгруппа {{pair.subgroup}})</span>
            </div>
            <div style="padding-bottom: 7px; font-size: 10px;" class="text-right">{{pair.lesson.professor.user.userFIO}}</div>
            <div style="float: left; font-size: 12px;" class="text-left">
              <span>{{pair.lesson.group.name}} </span>
            </div>
            <div style="font-size: 12px;" class="text-right">{{pair.room.room}}</div>

            <span *ngIf="editable" class="pair-create" title="Создать занятие"
                  (click)="onClick($event, day, lessonTime.num); $event.stopPropagation();"
                  (mousemove)="onMouseMove($event)">
              <i class="fa fa-plus"></i>
            </span>
            <span *ngIf="editable" class="pair-edit" title="Редактировать занятие"
                  (click)="onClick($event, day, lessonTime.num, pair.weektype); $event.stopPropagation();"
                  (mousemove)="onMouseMove($event)"
                  (mouseenter)="onMouseEnter($event, day, lessonTime.num, weektype)">
              <i class="fa fa-pencil" aria-hidden="true"></i>
            </span>
          </span>

        </div>
      </div>
      </div>

      <!-- Для не редактируемого вида -->
      <div *ngIf="showedPairs.length > 0">
      <div *ngFor="let pair of showedPairs">
        <div *ngIf="(pair.weektype == selectedType || pair.weektype == 'Все' || selectedType == 'Все') && pair.dayofweek === day && pair.pairNumber === lessonTime.num">
          <span #pairElement [ngClass]="{
                          'pair': true,
                          'even': pair.weektype =='Чет' && pair.subgroup == 0,
                          'odd': pair.weektype =='Нечет' && pair.subgroup == 0,
                          'subgroup-1': pair.subgroup == 1 && pair.weektype =='Все',
                          'subgroup-2': pair.subgroup == 2 && pair.weektype =='Все',
                          'odd-subgroup-1': pair.subgroup == 1 && pair.weektype =='Нечет',
                          'odd-subgroup-2': pair.subgroup == 2 && pair.weektype =='Нечет',
                          'even-subgroup-1': pair.subgroup == 1 && pair.weektype =='Чет',
                          'even-subgroup-2': pair.subgroup == 2 && pair.weektype =='Чет',
                          'half-width': existPairInThisDay(pair)}"
                (click)="onClickPair(pair)"
                (mousemove)="onMouseMove($event)"
                (mouseenter)="onMouseEnter($event, day, lessonTime.num, weektype)" (mouseleave)="onMouseLeave()">
            <div *ngIf="pair.weektype !='Все'" class="text-left" style="float: right;font-size: 10px;">{{pair.weektype}}</div>
            <div class="text-left" style="font-size: 10px;">{{pair.pairType.type}}</div>
            <div style="padding-bottom: 7px; font-size: 12px;" class="text-center">
              {{pair.lesson.discipline.name}}
              <span *ngIf="pair.optionally" style="font-size: 10px;">(по выбору)</span>
              <span *ngIf="pair.subgroup != 0" style="font-size: 10px;">(подгруппа {{pair.subgroup}})</span>
            </div>
            <div style="padding-bottom: 7px; font-size: 10px;" class="text-right">{{pair.lesson.professor.user.userFIO}}</div>
            <div style="float: left; font-size: 12px;" class="text-left">
              <span *ngFor="let group of pair.lesson.groups">{{group.name}} </span>
            </div>
            <div style="font-size: 12px;" class="text-right">{{pair.room.room}}</div>

          </span>

        </div>
      </div>
      </div>
    </td>
  </tr>
</table>

<div *ngIf="(!pairs || pairs.length == 0) && !editable && !loading" class="pairs-not-found">
  <h1>Расписание не заполнено.</h1>
</div>

<pair-details
        (updatePairs)="updatePairs()"
        (close)="closeDetails()"
        [editable]="editable"
        [pointX]="X"
        [pointY]="Y"
        [semesterNumberYear]="semesterNumberYear"
        [editablePair]="currentPair">
</pair-details>

<p-dialog *ngIf="movedPair" header="Перемещение занятия" [(visible)]="showDeleteDialog" modal="modal" [responsive]="true" [width]="350" [minWidth]="200">
    <span>Вы действительно хотите передвинуть занятие на:
        <div style="display: block"><b>День недели: </b>{{movedPair.dayofweek}}</div>
        <div style="display: block"><b>Номер занятия: </b>{{movedPair.pairNumber}}</div>
    </span>
    <p-footer>
        <button type="button" pButton (click)="movePair()" label="Да"></button>
        <button type="button" pButton (click)="showDeleteDialog=false" label="Нет"></button>
    </p-footer>
</p-dialog>


<p-dialog *ngIf="choosedGroups.length > 1 && clickPair?.observers?.length > 0" header="Выберите группу" [(visible)]="showGroupChooseDialog" modal="modal" [responsive]="true" [width]="350" [minWidth]="200">
    <span>Укажите группу для которой выбрано занятие.</span>
  <p-footer>
    <button *ngFor="let group of choosedGroups" type="button" pButton (click)="selectGroup(group)" label="{{group.name}}"></button>
    <button type="button" pButton (click)="showGroupChooseDialog=false" label="Закрыть"></button>
  </p-footer>
</p-dialog>