.navbar-nav>li>a {
    padding-bottom: 14px !important;
}

.navbar {
    border-radius: 0px;
    z-index: 100;
}

.margin-zero-topbot {
    margin-top: 0;
    margin-bottom: 0;
}

.margin-zero-topbot a:hover{
    text-decoration: none;
    border-bottom: 0px !important;
}
