.header-panel-body {
  width: 100%;
  height: 25px;
  margin: 14px 0;
  margin-bottom: 2em ;
  text-align: center;
  font-size: 17px;
  position: relative;
}

.header-panel-body:after {
  content: '';
  width: 100%;
  border-bottom: dashed 2px lightgrey;
  position: absolute;
  left: 0;
  top: 50%;
  z-index: 1;
}

.header-panel-body h3 {
  background-color: white;
  width: auto;
  display: inline-block;
  z-index: 3;
  color: lightslategrey;
  padding: 0 1em 0 1em;
  position: relative;
  margin: 0;
}
.news-action-buttons
{
  text-align: center;
}

