
.edit-news-header
{
  text-align: left;
}

.edit-news .row{
  padding: 0 !important;
  margin: 0 !important;
}

.edit-news > .row > [class^="col-"]
{
  padding-bottom: 1em !important;
}

[hidden] {
  display: none !important;
}

.edit-news-picture label
{
  width: 90%;
  margin: 1em auto;
}

.edit-news-picture .thumbnail
{
  width: 90%;
  margin: 1em auto;
}

.edit-news textarea
{
  font-size: 19px;
  resize: none;
}
