<p-dialog [(visible)]="show" modal="modal" [width]="600" [minHeight]="500"
          [responsive]="true" [resizable]="true" [draggable]="true" [closable]="false" *ngIf="isModal">
    <p-header>
        <div>
            {{title}}
            <i class="fa fa-close fa-lg" aria-hidden="true" (click)="closeDialog()" style="float: right">  </i>
            <i class="fa fa-expand fa-lg" aria-hidden="true" (click)="setFull()" style="float: right">  </i>
        </div>
    </p-header>
    <div id="newTaskModal">

        <p>Введите название задачи:</p>
        <input type="text" class="form-control" id="headerCreateModal" name="header" placeholder="Название задчи"
                                [(ngModel)]="localTD.name"/>

        <p style="margin: 10px 0;">Тип задачи: </p>
        <p-selectButton [options]="listOfTypes" [(ngModel)]="selectedType" optionLabel="name"></p-selectButton>
        <user-search-form [isModal]="false" (onReturn)="setUsers($event)" [showReCreateButton]="false" [hideForm]="!showSelectUserForm"></user-search-form>
        <button (click)="showUserSearchForm()" class="btn btn-primary" title="Изменить список пользователей" [hidden]="showSelectUserForm" style="margin-top: 10px;">
            <i class="fa fa-pencil" aria-hidden="true"></i> Выбрать пользователей
        </button>

        <p style="margin: 10px 0;">Введите описание задачи:</p>
        <textarea [(ngModel)]="localTD.description" rows="3" cols="50" pInputTextarea
                  autoResize="autoResize" style="width: 100%;"></textarea>
        <div>
            <table class="table table-news">
                <thead class="thead-inverse">
                <tr>
                    <th class="text-center">ID</th>
                    <th class="text-center">Исполнитель</th>
                    <th class="text-center">Статус</th>
                    <th class="text-center">Ответ</th>
                    <th class="text-center"></th>
                </tr>
                </thead>
                <tbody>
                <tr *ngFor="let item of localTD.taskUsers">
                    <td class="text-center" id="idModal">{{item.id}}</td>
                    <td class="text-center" id="nameModal">{{item.executor.userFIO}}</td>
                    <td class="text-center" id="creatorModal">{{item.statusName | translate}}</td>
                    <td class="text-center" id="statusModal">{{item.response}}</td>
                    <td class="text-center" id="buttonsModal">
                        <div *ngIf="item.status === TaskStatusType.SentToReview">
                            <button (click)="ChangeStatusTU(item, TaskStatusType.Completed)" class="btn btn-success" title="Подтвердить">
                                <i class="fa fa-check" aria-hidden="true"></i>
                            </button>
                            <button (click)="ChangeStatusTU(item, TaskStatusType.SentToRevision)" class="btn btn-warning" title="Отправить на доработку">
                                <i class="fa fa-ban" aria-hidden="true"></i>
                            </button>
                        </div>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
    <p-footer>
        <button type="button" (click)="CreateTask()" class="btn btn-primary">
            <i class="fa fa-check" aria-hidden="true"></i>Создать
        </button>
        <button type="button" (click)="closeDialog()" class="btn btn-default">
            Закрыть
        </button>
    </p-footer>
</p-dialog>

<div id="newTaskFull" *ngIf="!isModal">
    <div class="row">
        <div class="col-xs-3">Тип задачи: </div>
        <div class="col-xs-9">
            <p-selectButton [options]="listOfTypes" [(ngModel)]="selectedType" optionLabel="name"></p-selectButton>
        </div>
    </div>

    <div class="row">
        <div class="col-xs-3">Название: </div>
        <div class="col-xs-9">
            <input type="text" class="form-control" id="headerCreateFull" name="header" placeholder="Название задчи"
                   [(ngModel)]="localTD.name"/>
        </div>
    </div>

    <div class="row">
        <textarea [(ngModel)]="localTD.description" rows="3" cols="50" pInputTextarea
                  autoResize="autoResize" style="width: 100%;"></textarea>
    </div>

    <div class="row">
        Тут будут файлы
    </div>

    <div class="row">

        <user-search-form [isModal]="false" (onReturn)="setUsers($event)" [showReCreateButton]="false" [hideForm]="!showSelectUserForm"></user-search-form>
        <div *ngIf="!showSelectUserForm">
            <p style="margin: 10px 0;">Кому:</p>
            <button (click)="showUserSearchForm()" class="btn btn-primary" title="Изменить список пользователей" style="margin-top: 10px;">
                <i class="fa fa-pencil" aria-hidden="true"></i> Выбрать пользователей
            </button>
        </div>
    </div>

    <hr>
    <div>
        <button type="button" (click)="CreateTask()" class="btn btn-primary">
            <i class="fa fa-check" aria-hidden="true"></i>Создать
        </button>
        <button type="button" (click)="closeDialog()" class="btn btn-default">
            Закрыть
        </button>
    </div>
</div >