.user-info .user-img img{
  width: auto !important;
  height: 100%;
  margin: 0 auto !important;
}
.user-img
{
  float: left;
  height: 2.8em;
  width: 2.8em;
  overflow: hidden;
  border-radius: 50%;
  margin: 0 auto;
  text-align: center;
}

.user-desc
{
  padding-left: 3.4em;
}

.user-desc p
{
  font-family: Franklin-Gothic-Bold !important;
  font-size: 13px;
  margin: 0;
}

.user-desc .user-desc-name
{
  font-size: 14px;
  font-weight: bold;
}

.user-desc .user-desc-role
{
  color: #8B8B8B;
}

.container-block{
  margin-top: 2em;
}


