<div class="container container-block">
  <div class="row">
    <div class="col-md-12">
      <div class="panel panel-default">
        <div class="panel-body">
          <div class="user-info">
            <div class="user-img">
              <img [src]="user.photo" alt="">
            </div>
            <div class="user-desc">
              <p class="user-desc-name"> {{user.userFIO}}</p>
              <p class="user-desc-role">
                <span *ngFor="let role of user.roles">{{role.roleName | translate}} </span>
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-md-2">
      <div class="head">
        <div class="panel panel-default panel-inverse">
          <div class="list-group">
            <a *hasRole="Roles.Administrator" style="cursor: pointer;" (click)="menuToole('news-dispatcher-page')"
               class="list-group-item">Управление новостями</a>
            <a *hasRole="[Roles.Professor, Roles.Administrator]" style="cursor: pointer;" (click)="menuToole('tasks-list')"
               class="list-group-item">Управление задачами</a>
            <a *hasRole="[Roles.Professor]" style="cursor: pointer;" (click)="menuToole('journal-page')"
               class="list-group-item">Заполнение журнала</a>
            <a *hasRole="[Roles.Professor]" style="cursor: pointer;" (click)="menuToole('lesson-configurator')"
               class="list-group-item">Настройка занятий</a>
            <a style="cursor: pointer;" (click)="menuToole('settings-page')"
               class="list-group-item">Профиль</a>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-10">
      <div class="head" [ngSwitch]="menuName">
        <div class="panel panel-default panel-inverse">
          <div class="panel-body">
            <news-dispatcher-page *ngSwitchCase="'news-dispatcher-page'"></news-dispatcher-page>
            <task-list *ngSwitchCase="'tasks-list'"></task-list>
            <journal-page *ngSwitchCase="'journal-page'"></journal-page>
            <lesson-configurator-page *ngSwitchCase="'lesson-configurator'"></lesson-configurator-page>
            <settings-page *ngSwitchCase="'settings-page'"></settings-page>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
