<div class="header-panel-body">
   <h3>Действия</h3>
</div>
<div class="news-action-buttons">
   <div class="btn-group" role="group" aria-label="Basic example">
      <button (click)="showDialogNewTaskDescription()" type="button" class="btn btn-success">Добавить задачу</button>
   </div>
</div>
<div *ngIf="taskDescList.length > 0">
   <div class="header-panel-body">
      <h3>Список задач</h3>
   </div>
   <div>
      <table class="table table-news">
         <thead class="thead-inverse">
         <tr>
            <th class="text-center">ID</th>
            <th class="text-center">Название</th>
            <th class="text-center">Создатель задачи</th>
            <th class="text-center">Статус</th>
            <th class="text-center">Действия</th>
         </tr>
         </thead>
         <tbody>
         <tr *ngFor="let item of taskDescList">
            <td class="text-center" id="id">{{item.id}}</td>
            <td (dblclick)="showDialogTaskWork(item)" class="text-center" id="name">{{item.name}}</td>
            <td (dblclick)="showDialogTaskWork(item)" class="text-center" id="creator">{{item.creator.userFIO}}</td>
            <td (dblclick)="showDialogTaskWork(item)" class="text-center" id="status">{{item.statusName | translate}}</td>
            <td class="text-center" id="buttons">
               <span *ngIf="item.status != TaskStatusType.Completed">
                  <button *ngIf="user.id == item.creator.id" (click)="showDialogEditTaskDescription(item)" class="btn btn-warning" title="Редактировать/Просмотреть задачу">
                     <i class="fa fa-eye" aria-hidden="true"></i>
                  </button>
                  <button *ngIf="(isMyTask(item))" (click)="showDialogTaskWork(item)" class="btn btn-success" title="Открыть окно для отправки решения">
                     <i class="fa fa-check" aria-hidden="true"></i>
                  </button>
                  <button *ngIf="user.id == item.creator.id" (click)="deleteTaskDescription(item.id)" class="btn btn-danger" title="Удалить задачу">
                     <i class="fa fa-times" aria-hidden="true"></i>
                  </button>
               </span>
            </td>
         </tr>
         </tbody>
      </table>
   </div>
</div>
<work-task></work-task>
<new-task-desc (onCreateNew)="onCreateNew($event)"></new-task-desc>
