<!--The content below is only a placeholder and can be replaced.-->
<h1>
  TestComponent
</h1>
<h2>
  {{title}}!
</h2>

<button (click)="TestGet()">Нажми на меня чтобы получить данные из RestController'а</button>
<br>
<div>
  {{testMsg}}
</div>
<br>
<hr>
<br>
<input type="text" [(ngModel)]="user.username" placeholder="Имя" />
<br>
<br>
<input type="text" [(ngModel)]="user.email" placeholder="E-Mail" />
<br>
<br>
<input type="password" [(ngModel)]="user.password" placeholder="Пароль" />
<br>
<br>
<button (click)="TestSet()">Нажми на меня чтобы отправить</button>
<br>
<br>
<div>
  {{resMsg}}
</div>




