.header-lesson {
    padding-bottom: 10px;
    padding-top: 10px;
}

.date-field {
    width: 100%;
    margin: 0;
}

.event-field {
    padding-bottom: 10px;
    padding-top: 10px;
}


.table>tbody>tr>td {
    vertical-align: baseline;
}