<div *ngIf="!journal && !showLoader" class="header-panel-body">
    <h3>Для заполнения журнала выберите занятие.</h3>
</div>

<schedule-week *ngIf="!journal && !showLoader"
    [pairs]="pairs"
    (clickPair)="onClick($event)">
</schedule-week>

<div *ngIf="journal && !showLoader" class="header-panel-body">
    <div class="row">
        <div class="col-sm-2 back-button">
            <button (click)="back()" class="btn btn-info btn-sm">К расписанию</button>
        </div>
        <div class="col-sm-10">
            <h3>Заполнение журнала для группы {{pairs[0].group.name}} по предмету {{pairs[0].discipline.name}}</h3>
        </div>
    </div>
</div>

<div *ngIf="journal  && !showLoader">

    <journal [journal]="journal">
    </journal>

</div>

<data-loader [show]="!journal && showLoader"></data-loader>