.lesson-container {
    width: 100%;
}

.flex-row.row {
    display: flex;
    flex-wrap: wrap;
}
.flex-row.row > [class*='col-'] {
    display: flex;
    flex-direction: column;
}
.flex-row.row:after,
.flex-row.row:before {
    display: flex;
}

.pairs-not-found h1 {
    color: inherit;
}

.pairs-not-found {
    text-align: center;
    padding: 8em 0;
    font-style: italic;
    color: #7d7d7d;
}


