<table *ngIf="pairs.length > 0" id="temp" class="table table-striped table-bordered">
  <tr>
    <td></td>
    <td *ngFor="let day of days">
      {{day}}
    </td>
  </tr>
  <tr *ngFor="let lessonTime of lessonsTime">
    <td valign="middle" l class="lesson-time" width="9%">
      <span>{{lessonTime.Start}} - {{lessonTime.End}}</span>
    </td>
    <td width="13%" *ngFor="let day of days">
      <span *ngFor="let pair of pairs">
        <span *ngIf="pair.dayofweek === day && pair.pairnumber === lessonTime.number" height="100%">
          <span (click)="onClick(pair)" *ngIf="pair.weektype =='Все'">
            <div style="padding-bottom: 7px; font-size: 14px;" class="text-center">{{pair.discipline}}</div>
            <div style="float: left; font-size: 12px;" class="text-left">{{pair.group.name}}</div>
            <div style="font-size: 12px;" class="text-right">{{pair.room}} каб.</div>
          </span>
          <table *ngIf="pair.weektype !='Все'" height="100%">
            <tr>
              <td (click)="onClick(pair)" *ngIf="pair.weektype == 'Чет'" bgcolor="#ffbdd3" width="50%" class="inner_table_click" id="Четное">
                <div style="padding-bottom: 7px; font-size: 14px;" class="text-center">
                  <div class="text-left" style="font-size: 10px;">Чет. </div>
                  {{pair.discipline}}
                </div>
                <div style="float: left; font-size: 12px;" class="text-left">{{pair.group.name}}</div>
                <div style="font-size: 12px;" class="text-right">{{pair.room}} каб.</div>
              </td>
              <td (click)="onClick(pair)" *ngIf="pair.weektype == 'Нечет'" bgcolor="#bde0ff" width="50%" class="inner_table_click" id="Нечетное">
                <div style="padding-bottom: 7px; font-size: 14px;" class="text-center">
                  <div class="text-left" style="font-size: 10px;">Нечет. </div>
                  {{pair.discipline}}
                </div>
                <div style="float: left; font-size: 12px;" class="text-left">{{pair.group.name}}</div>
                <div style="font-size: 12px;" class="text-right">{{pair.room}} каб.</div>
              </td>
            </tr>
          </table>
        </span>
      </span>
    </td>
  </tr>
</table>
