.user-info .user-img img{
  border-radius: 50%;
  border: 1px solid #3B3939;
  width: 4em;
}
.user-img
{
  float: left;
}

.user-desc
{
  padding-left: 5em;
}

.lesson-time span {
  font-size: 11px;
  padding: 4px;
}

.user-desc p
{
  font-family: Franklin-Gothic-Bold !important;
  font-size: 16px;
  margin: 0;
}

.user-desc .user-desc-name
{
  font-size: 21px;
  font-weight: bold;
}

.user-desc .user-desc-role
{
  color: #8B8B8B;
}

.container-block{
  margin-top: 2em;
}

.displayNo {
  display: none;
}

input {
  border: none;
  outline: none;
}

input:hover,input:focus {
  border: none;
  outline: none;
}

table {
  width: 100%;
  border: 2px solid white;
}

td {
  padding: 5px;
  border: 1px solid #3d3d3d;
  text-align: center;
}
thead
{
  background: #0000002b;
  color: black;
}

td input {
  width: 2em;
  text-align: center;
}

.lesson-time {
  padding: 0;
  margin: 0;
}
