.user-info .user-img img{
  border-radius: 50%;
  border: 1px solid #3B3939;
  width: 4em;
}
.user-img
{
  float: left;
}

.user-desc
{
  padding-left: 5em;
}

.lesson-time div {
  font-size: 11px;
  padding: 4px;
}

.user-desc p
{
  font-family: Franklin-Gothic-Bold !important;
  font-size: 16px;
  margin: 0;
}

.user-desc .user-desc-name
{
  font-size: 21px;
  font-weight: bold;
}

.user-desc .user-desc-role
{
  color: #8B8B8B;
}

.container-block{
  margin-top: 2em;
}

.displayNo {
  display: none;
}

input {
  border: none;
  outline: none;
}
.lesson-row {
  min-height: 6em;
}

.lesson-row td {
  padding: 0px;
}

.odd {
  background: rgba(0, 7, 255, 0.08);
}

.even {
  background: rgba(255, 0, 0, 0.09);
}

.subgroup-1 {
  background: #bcffbf;
}

.subgroup-2 {
  background: #aafff6;
}

.odd-subgroup-1 {
  background: linear-gradient(#e0e0f7, #bcffbf);
}

.even-subgroup-1 {
  background: linear-gradient(#ffe8e8, #bcffbf);
}

.odd-subgroup-2 {
  background: linear-gradient(#e0e0f7, #aafff6);
}

.even-subgroup-2 {
  background: linear-gradient(#ffe8e8, #aafff6);
}


.pair {
  padding: 5px;
  cursor: pointer;
  display: inline-block;
  width: 100%;
}

input:hover,input:focus {
  border: none;
  outline: none;
}

table {
  width: 100%;
}

td {
  padding: 5px;
  text-align: center;
}

.thead-black
{
  background: #606d7b;
  color: white;
}

td input {
  width: 2em;
  text-align: center;
}

.lesson-time {
  padding: 0;
  margin: 0;
  vertical-align: middle;
  background: #e2e2e2;
}
.pair-edit {
  display: none;
}
.pair-create {
  display: none;
}

.pair:hover .pair-edit {
  background: rgba(255, 255, 255, 0.78);
  padding: 1px 5px;
  font-size: 14px;
  border-radius: 50%;
  display: inline-block;
  border: 1px solid;
  position: absolute;
  margin-top: -25px;
  margin-left: -30px;
  border-color: rgb(174, 175, 54);
  color: rgba(98, 99, 31, 0.78);
}

.pair:hover .pair-edit:hover {
  background: rgba(255, 255, 255, 1);
  color: rgba(98, 99, 31, 1);
  box-shadow: 2px 2px 15px -1px;
}

.pair:hover .pair-create {
  background: rgba(255, 255, 255, 0.78);
  padding: 1px 5px;
  font-size: 14px;
  border-radius: 50%;
  display: inline-block;
  border: 1px solid;
  position: absolute;
  margin-top: -25px;
  margin-left: -60px;
  border-color: rgb(68, 175, 72);
  color: rgba(23, 78, 25, 0.78);
}

.pair:hover .pair-create:hover {
  background: rgba(255, 255, 255, 1);
  color: rgba(23, 78, 25, 1);
  box-shadow: 2px 2px 15px -1px;

}

.pairs-not-found h1 {
  color: inherit;
}

.pairs-not-found {
  text-align: center;
  padding: 8em 0;
  font-style: italic;
  color: #7d7d7d;
}

.legend-item {
  display: inline-block;
  width: 12px;
  height: 12px;
  border: 1px solid #a7a6a6;
}

.legend {
  text-align: right;
  padding: 1em 0;
}

.legend span {
  font-size: 13px;
  color: #4e4e4e;
}