.user-info .user-img img{
  border-radius: 50%;
  border: 1px solid #3B3939;
  width: 4em;
}
.user-img
{
  float: left;
}

.user-desc
{
  padding-left: 5em;
}

.user-desc p
{
  font-family: Franklin-Gothic-Bold !important;
  font-size: 16px;
  margin: 0;
}

.user-desc .user-desc-name
{
  font-size: 21px;
  font-weight: bold;
}

.user-desc .user-desc-role
{
  color: #8B8B8B;
}

.container-block{
  margin-top: 2em;
}

.displayNo {
  display: none;
}

td {
  padding: 5px;
  border: 1px solid #3d3d3d;
  text-align: center;
}

td input {
  width: 2em;
  text-align: center;
}

