<div class="col-sm-12 text-right journal">
    <table>
        <colgroup>
            <col span="1" style="width: 25%;">
        </colgroup>
        <thead>
        <tr>
            <td></td>
            <ng-container *ngFor="let month of monthHeader">
                <ng-container *ngIf="inMonthPeriodDate(month.date)">
                    <td
                        [attr.colspan]="month.dateLen"
                        [ngClass]="{today: isCurrentMonth(month.date)}">
                        <div class="col-sm-3 text-left">
                            <span class="nav-button" (click)="backMonth()"><i class="fa fa-angle-left" aria-hidden="true"></i></span>
                        </div>
                        <div class="col-sm-6 text-center">
                            {{month.date | date: 'MMMM'}}
                        </div>
                        <div class="col-sm-3 text-right">
                            <span class="nav-button" (click)="nextMonth()"><i class="fa fa-angle-right" aria-hidden="true"></i></span>
                        </div>
                    </td>
                </ng-container>
            </ng-container>
        </tr>
        <tr>
            <td></td>
            <ng-container *ngFor="let head of header">
                <ng-container *ngIf="inMonthPeriodDate(head.date)">
                <td [attr.colspan]="head.types.length"
                    [ngClass]="{today: isCurrentDate(head.date)}">
                    {{head.date.getDate() }}
                </td>
                </ng-container>
            </ng-container>
        </tr>
        <tr>
            <td><b>ФИО.</b></td>
            <ng-container *ngFor="let head of header">
                <ng-container *ngFor="let type of head.types">
                    <ng-container *ngIf="inMonthPeriodDate(head.date)">
                        <td style="font-size: 9px" [title]="type.type.name"
                            [ngClass]="{today: isPairNow(type.pair)}">
                            <i class="fa fa-circle" aria-hidden="true"></i>
                        </td>
                    </ng-container>
                </ng-container>
            </ng-container>
        </tr>
        </thead>
        <tbody>
            <tr *ngFor="let student of journal.students">
                <td>{{student.userFIO}}</td>
                <ng-container *ngFor="let cell of journal.journalCell">
                    <ng-container *ngIf="inMonthPeriodDate(cell.date)">
                        <td [ngClass]="{displayNo: cell.student.userFIO!=student.userFIO, todayCell: isPairNow(cell.pair)}">
                            <input (click)="clearField(cell)" (blur)="cancelField(cell)" [(ngModel)]="cell.value" type="text">
                        </td>
                    </ng-container>
                </ng-container>
            </tr>
        </tbody>
    </table>
</div>

<div class="col-sm-12 text-right">
    <button (click)="save()" class="btn btn-info btn-success">Сохранить</button>
</div>
