<div *ngIf="!journal && !showLoader" class="header-panel-body">
    <h3>Для заполнения журнала выберите занятие.</h3>
</div>

<schedule-week *ngIf="!journal && !showLoader"
    [pairs]="pairs"
    (clickPair)="onClick($event)">
</schedule-week>

<div *ngIf="journal && !showLoader" class="header-panel-body">
    <h3>Заполнение журнала для группы {{journal.students[0].group.name}}</h3>
</div>

<div *ngIf="journal  && !showLoader">
    <button (click)="back()" class="btn btn-info">Назад</button>
    <table>
        <thead>
        <tr>
            <td></td>
            <td *ngFor="let date of journal.dates">{{date}}</td>
        </tr>
        </thead>
        <tbody>
            <tr *ngFor="let student of journal.students">
                <td>{{student.userFIO}}</td>
                <td *ngFor="let cell of journal.journalCell" [ngClass]="{displayNo: cell.student.userFIO!=student.userFIO}">
                    <input (click)="clearField(cell)" (blur)="cancelField(cell)" [(ngModel)]="cell.mark" type="text">
                </td>
            </tr>
        </tbody>
    </table>
</div>



<data-loader [show]="!journal && showLoader"></data-loader>