<div>
    Занятия за
    <semester-picker style="display: inline-block" (ngModelChange)="loadLesson()"
                     [semesterNumberYear]="semesterNumberYear"></semester-picker>
</div>

<div *ngIf="!this.selectLesson && !showLoader" class="header-panel-body">
    <h3>Для настройки контольных точек выберите занятие.</h3>
</div>

<lessons-list *ngIf="!this.selectLesson && !showLoader"
              [lessons]="lessons"
              (clickOnLesson)="onClick($event)">
</lessons-list>

<div *ngIf="this.selectLesson && !showLoader" class="header-panel-body">
    <div class="container">
        <div class="row">
            <div class="col-sm-2 text-left">
                <button (click)="back()" class=" btn btn-default btn-sm">Назад</button>
            </div>
            <div class="col-sm-10">
                <h3>Настройка контольных точек.</h3>
            </div>
        </div>
    </div>
</div>

<lesson-configurator *ngIf="this.selectLesson && !showLoader"
               [lesson]="this.selectLesson" [semesterNumberYear]="semesterNumberYear">
</lesson-configurator>


<data-loader [show]="showLoader" [margin]="9"></data-loader>