<div class="row">
  <div class="col-xs-12 col-md-4">
    <div class="news-image">
      <img src="{{item.image}}" alt="{{item.header}}" title="{{item.header}}">
    </div>
  </div>
  <div class="col-xs-12 col-md-8">
    <div class="news-header">
      <h2><a href="#">{{item.header}}</a></h2>
      <span><i class="fa fa-calendar" aria-hidden="true"></i>
        {{item.date | date:'dd.MM.yyyy'}}
      </span>
      <span *ngIf="tags" class="tags"><i class="fa fa-tags" aria-hidden="true"></i>
        <a class="single-tag" *ngFor="let tag of tags">#{{tag}}</a>
      </span>
      <hr class="hr_header">
    </div>
    <div class="news-content">
      <p>{{item.content}}</p>
    </div>
  </div>
</div>
