<div class="row">
  <div *ngIf="item.image != ''" class="col-xs-12 col-md-4">
    <div class="news-image">
      <img src="{{item.image}}" alt="{{item.header}}" title="{{item.header}}">
    </div>
  </div>
  <div [ngClass]="{'col-xs-12': true, 'col-md-8': item.image != '', 'col-md-12': item.image == ''}">
    <div class="news-header" [ngStyle]="{'margin-left': item.image != '' ? '' : '1em'}">
      <h2><a href="#">{{item.header}}</a></h2>
        <!--<profile [user]="item.author"></profile>-->
      <span><i class="fa fa-calendar" aria-hidden="true"></i>
        {{item.date | date:'dd.MM.yyyy'}}
      </span>
      <span *ngIf="tags" class="tags"><i class="fa fa-tags" aria-hidden="true"></i>
        <a class="single-tag" *ngFor="let tag of tags">#{{tag}}</a>
      </span>
      <span class="tags" [userCard]="item.author"><i class="fa fa-user" aria-hidden="true"></i>
        {{item.author.userFIO}}
      </span>
      <hr class="hr_header">
    </div>
    <div class="news-content ql-editor" [innerHTML]="item.content">
    </div>
  </div>
</div>
