.news .label{
  text-align: left;
}

.news{
  margin: 1em;
}

.news-image img {
  border-radius: 5px;
  box-shadow: 3px 4px 21px 3px #80808069;
}

.hr_header {
  margin-top: 10px;
}

.news-image {
  padding: 1em;
  text-align: center;
}

.news-header h2{
  padding-bottom: 0.1em;
  text-transform: lowercase !important;
}

.news-header h2::first-letter{
  text-transform: uppercase;
}

.news-header p{
  color: #8B8B8B;
  padding-top: 0.3em;
}

.news-header{
  word-wrap: break-word;
  padding-right: 1em;
}

.news-content{
  font-size: 16px;
  word-wrap: break-word;
  padding-right: 1em;
}
.news-content p::first-letter{
  font-size: 20px;
  color: black;
  padding-left: 1.5em;
}

.tags{
  padding-left: 2em;
}

.tags a:hover{
  text-decoration: underline;
  border-bottom: none !important;
}

.single-tag{
  color: #008080;
  cursor: pointer;
  padding-left: 0.5em;
}
