
<div class="header">
   <span>
      <h1>КемГУ Кафедра "ЮНЕСКО"</h1>
   </span>
</div>
<div class="container">
   <div class="row">
      <div class="col-md-9">
         <div class="head">
            <div class="panel panel-default panel-inverse">
               <div class="panel-heading"><h3><i class="fa fa-newspaper-o" aria-hidden="true"></i> Новости</h3>
               </div>

               <div *ngIf="!loader" class="panel-body news">
                  <div *ngFor="let item of _listOfNews">
                     <single-news [item]="item"></single-news>
                     <hr>
                  </div>
                  <div *ngIf="_listOfNews.length == 0">
                     <div class="row">
                        <div class="col-xs-12 col-md-4">
                           <div class="thumbnail">
                              <img src="images/no_news.jpg" alt="Новостей нет" title="Новостей нет">
                           </div>
                        </div>
                        <div class="col-xs-12 col-md-8">
                           <div class="news-empty-content">
                              <p>Пока не было опубликовано ни одной новости.</p>
                           </div>
                        </div>
                     </div>
                  </div>
               </div>

               <data-loader [show]="loader" [margin]="9"></data-loader>

            </div>
         </div>
      </div>
      <div class="col-md-3">
         <div class="head">
            <div class="panel panel-default">
               <div class="panel-heading"><h3><i class="fa fa-th" aria-hidden="true"></i> Разное</h3></div>
               <ul class="list-group">
                  <li class="list-group-item">Сюда можно</li>
                  <li class="list-group-item">Например</li>
                  <li class="list-group-item">Вставить любые ссылки</li>
                  <li class="list-group-item">Или другие штуки</li>
               </ul>
            </div>
         </div>
      </div>
   </div>
</div>
