<div class="container">
  <div class="row">
    <div class="col-md-9">
      <div class="head">
        <div class="panel panel-default panel-inverse">
          <div class="panel-heading"><h3><i class="fa fa-newspaper-o" aria-hidden="true"></i> Новости</h3></div>

          <div class="panel-body news">
            <div *ngFor="let item of _listOfNews">
              <div class="row">
                <div class="col-xs-12 col-md-4">
                  <div class="thumbnail">
                    <img [src]="item.image" alt="Первая запись">
                  </div>
                </div>
                <div class="col-xs-12 col-md-8">
                  <div class="news-header">
                    <h2><a href="#">{{item.header}}</a></h2>
                    <p><i class="fa fa-calendar" aria-hidden="true"></i>
                      {{item.date}}
                    </p>
                    <hr>
                  </div>
                  <div class="news-content">
                    <p>{{item.content}}</p>
                  </div>
                </div>
              </div>
            </div>
          </div>

        </div>
      </div>
    </div>
    <div class="col-md-3">
      <div class="head">
        <div class="panel panel-default">
          <div class="panel-heading"><h3><i class="fa fa-th" aria-hidden="true"></i> Разное</h3></div>
          <ul class="list-group">
            <li class="list-group-item">Сюда можно</li>
            <li class="list-group-item">Например</li>
            <li class="list-group-item">Вставить любые ссылки</li>
            <li class="list-group-item">Или другие штуки</li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
