<div class="main-header col-md-12 text-center">
    <h1>Создание занятия</h1>
</div>

<div class="main-header col-md-12">
    <div class="panel panel-default panel-inverse">
        <div class="panel-heading">
            <h3>Создание занятия</h3>
        </div>
        <div class="panel-body">
            <div class="row">
                <div class="col-xs-6">
                    <div class="input-group input-group-md">
                        <span class="input-group-addon">Преподаватель: </span>
                        <select class="form-control"  [(ngModel)]="newPair.lesson.professor" name="professor"  id="proflist">
                            <option *ngFor="let prof of profs" id="fio" name="fio" [ngValue]="prof">{{prof.user.userFIO}}</option>
                        </select>
                    </div>
                </div>
                <div class="col-xs-6">
                    <div class="input-group input-group-md">
                        <span class="input-group-addon">Дисциплина: </span>
                        <select class="form-control"  [(ngModel)]="newPair.lesson.discipline" id="disciplines" name="disciplist">
                            <option *ngFor="let discip of disciplines" id="discipline" name="discipline" [ngValue]="discip">{{discip.name}}</option>
                        </select>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-xs-6">
                    <div class="input-group input-group-md">
                        <span class="input-group-addon">Аудитория: </span>
                        <select class="form-control"  [(ngModel)]="newPair.room" id="room" name="roomlist">
                            <option *ngFor="let room of rooms" id="roomnum" name="room" [ngValue]="room">{{room.room}}</option>
                        </select>
                    </div>
                </div>
                <div class="col-xs-6">
                    <div class="input-group input-group-md">
                        <span class="input-group-addon">Группа: </span>
                        <select class="form-control"  [(ngModel)]="newPair.lesson.group" id="group" name="grouplist">
                            <option *ngFor="let group of groups" id="groupname" name="name" [ngValue]="group">{{group.name}}</option>
                        </select>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-xs-6">
                    <div class="input-group input-group-md">
                        <span class="input-group-addon">День недели: </span>
                    <select class="form-control" [(ngModel)]="newPair.dayofweek" name="dayofweek" id="dayslist">
                        <option *ngFor="let day of dayofweek | enumStringKeys" [ngValue]="day">{{day}}</option>
                    </select>
                    </div>
                </div>
                <div class="col-xs-6">
                    <div class="input-group input-group-md">
                        <span class="input-group-addon">Номер пары: </span>
                        <select class="form-control" [(ngModel)]="newPair.pairNumber" id="numberlist">
                            <option value="1">1</option>
                            <option value="2">2</option>
                            <option value="3">3</option>
                            <option value="4">4</option>
                            <option value="5">5</option>
                            <option value="6">6</option>
                        </select>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-xs-6">
                    <div class="input-group input-group-md">
                        <span class="input-group-addon">Тип: </span>
                        <select class="form-control"  [(ngModel)]="newPair.weektype" id="weektype" name="weektypelist">
                            <option *ngFor="let week of weektype | enumStringKeys" id="week" name="weektype" [ngValue]="week">{{week}}</option>
                        </select>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-xs-12 text-center">
                    <button type="button" id="create-pair-button" class="btn btn-success " (click)="SavePair()">Сохранить изменения</button>
                </div>
            </div>

        </div>
    </div>
</div>
