.main-header {
    padding-top: 3em;
}

.row {
    padding-bottom: 1em;
}

.find-place.text-left input {
    border: none;
    border-radius: 3px;
    outline: none;
    padding: 3px;
    padding-left: 7px;
    background: #d8d9dc;
}
.find-place.text-left span {
    padding-right: 8px;
}

.find-place.text-left {
    background: #d8d9dc;
    border: 1px solid #D6D6D6;
    padding: 2px 10px 2px 10px;
    border-radius: 5px 5px 0 0;
    color: black;
}

.panel-body {
    padding: 2em;
}

.panel-body h2 {
    text-align: center;
    padding-bottom: 1em;
}