<div class="main-header col-md-12 text-center">
   <h1>{{header}}</h1>
</div>
<div class="main-header col-md-12 text-center">
   <input #gb type="text" placeholder="Global search">
   <p-dataTable
           [value]="data.content"
           [lazy]="true"
           [rows]="10"
           [paginator]="true"
           [rowsPerPageOptions]="[5,10,15]"
           [totalRecords]="data.totalNumber"
           (onLazyLoad)="loadLazy($event)"
           [globalFilter]="gb">
      <p-column *ngFor="let field of columnsName"
                field="{{field}}"
                header="{{field | translate}}">
         <ng-template let-col let-fields="rowData" let-ri="rowIndex" pTemplate="body">
            <template [ngIf]="!isArray(fields[field])">
               <span>{{fields[field]}}</span>
            </template>
            <template [ngIf]="isArray(fields[field])">
               <ng-template ngFor let-item [ngForOf]="fields[field]">
                  <span *ngFor="let itemField of getKeys(item)">
                     {{item[itemField]}}
                  </span>
               </ng-template>
            </template>
         </ng-template>
      </p-column>
   </p-dataTable>
</div>