<div class="header">
    <h1><i class="fa fa-university" aria-hidden="true"></i> КемГУ Кафедра Юнеско</h1>
    <p>Расписание занятий кафедры.</p>
</div>

<div class="container">
    <div class="row">
        <div class="col-md-7">
            <div class="head">
                <div class="panel panel-default">
                    <div class="panel-heading"><h3><i class="fa fa-file-text-o" aria-hidden="true"></i> Создание пары</h3></div>


                    <div class="panel-body">

                        <div class="row">
                            <div class="col-xs-5 col-md-5">
                                <div class="input-group input-group-md">
                                    <span class="input-group-addon">Преподаватель: </span>
                                    <select class="form-control"  [(ngModel)]="newPair.professor" name="professor"  id="proflist">
                                        <option *ngFor="let prof of profs" id="fio" name="fio" [ngValue]="prof.fio">{{prof.fio}}</option>
                                        <!--<option value="Карабцев Сергей Николаевич">Карабцев Сергей Николаевич</option>-->
                                    </select>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-xs-5 col-md-5">
                                <div class="input-group input-group-md">
                                    <span class="input-group-addon">Дисциплина: </span>
                                    <!--<input type="text" class="form-control" id="iscipline" name="discipline" placeholder="Название дисциплины" [(ngModel)]="newPair.discipline" />-->
                                    <select class="form-control"  [(ngModel)]="newPair.discipline" id="disciplines" name="disciplist">
                                        <option *ngFor="let discip of disciplines" id="discipline" name="discipline" [ngValue]="discip.discipline">{{discip.discipline}}</option>

                                    </select>
                                </div>
                            </div>
                        </div>


                        <div class="row">
                            <div class="col-xs-5 col-md-5">
                                <div class="input-group input-group-md">
                                    <span class="input-group-addon">Аудитория: </span>
                                    <!--<input type="text" class="form-control" id="room" name="room" placeholder="Номер аудитории" [(ngModel)]="newPair.room" />-->
                                    <select class="form-control"  [(ngModel)]="newPair.room" id="room" name="roomlist">
                                        <option *ngFor="let room of rooms" id="roomnum" name="room" [ngValue]="room.room">{{room.room}}</option>

                                    </select>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-xs-5 col-md-5">
                                <div class="input-group input-group-md">
                                    <span class="input-group-addon">Группа: </span>
                                    <!--<input type="text" class="form-control" id="group" name="group" placeholder="Номер группы" [(ngModel)]="newPair.group" />-->
                                    <select class="form-control"  [(ngModel)]="newPair.group" id="group" name="grouplist">
                                        <option *ngFor="let group of groups" id="groupname" name="name" [ngValue]="group.name">{{group.name}}</option>

                                    </select>
                                </div>
                            </div>
                        </div>


                        <div class="row">
                            <div class="col-xs-5 col-md-5">
                                <div class="input-group input-group-md">
                                    <span class="input-group-addon">День недели: </span>
                                <select class="form-control" [(ngModel)]="newPair.dayofweek" name="dayofweek" id="dayslist">
                                    <option id="dayofweek" name="dayofweek" value="Понедельник">Понедельник</option>
                                    <option value="Вторник">Вторник</option>
                                    <option value="Среда">Среда</option>
                                    <option value="Четверг">Четверг</option>
                                    <option value="Пятница">Пятница</option>
                                    <option value="Суббота">Суббота</option>
                                </select>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-xs-5 col-md-5">
                                <div class="input-group input-group-md">
                                    <span class="input-group-addon">Номер пары: </span>
                                <select class="form-control" [(ngModel)]="newPair.pairnumber" id="numberlist">
                                    <option value="1">1</option>
                                    <option value="2">2</option>
                                    <option value="3">3</option>
                                    <option value="4">4</option>
                                    <option value="5">5</option>
                                    <option value="6">6</option>
                                </select>
                                </div>
                            </div>
                        </div>


                        <div class="row">
                            <div class="col-xs-5 col-md-5">
                                <div class="input-group input-group-md">
                                    <!--<span class="input-group-addon">Четная: </span>-->
                                        <label class="radio-inline"><input type="radio"  value="Чет" [(ngModel)]="newPair.weektype">Четная</label>
                                        <label class="radio-inline"><input type="radio"  value="Нечет" [(ngModel)]="newPair.weektype">Нечетная</label>
                                        <label class="radio-inline"><input type="radio"  value="Кажд" [(ngModel)]="newPair.weektype">Каждая</label>
                                </div>
                            </div>
                        </div>
                        <br>
                        <div class="row">
                            <div class="col-xs-5 col-md-5">
                                <button type="button" id="create-pair-button" class="btn btn-success " (click)="SavePair()">Сохранить изменения</button>
                                <!--<button type="button" class="btn btn-danger " (click)="GetBack()">Отмена</button>-->
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>



    </div>
</div>
