/* You can add global styles to this file, and also import other style files */
html, body {
    height: 100%;
    width: 100%;
    padding: 0;
    margin: 0;
    background-color: #F8F8FF;
}

@font-face {
    src: url(/fonts/Souvenir.ttf);
}

h1,h2,h3,h4,h5,h6{
    padding: 0;
    margin: 0;
    color: #3d3d3d;
}

@media (min-width: 1400px)
{
    .container,
    .navbar-static-top .container,
    .navbar-fixed-top .container,
    .navbar-fixed-bottom .container {
        width: 1400px;
    }
}
hr{
    border-top: 1px solid #C8EDED;
}

.navbar{
    margin-bottom: 1em;
}

.header
{
    padding: 5em 0;
    font-size: 1em;
    text-align: center;
}

.header p
{
    color: #8B8B8B;
}

* {
    margin: 0;
    padding: 0;
}
html,
body {
    height: 100%;
}
.wrapper {
    display: flex;
    flex-direction: column;
    height: 100%;
}
.content {
    flex: 1 0 auto;
}
.footer {
    flex: 0 0 auto;
}

.w-25{
    width:25%;
}
.w-50{
    width: 50%;
}
.w-75{
    width:75%;
}
.w-100{
    width: 100%;
}

/*Классы для установки ширины для p-autocomplete*/
/*--------------------------------------------------------------------------*/
/* styleClass="w-25" */
.w-25 .ui-autocomplete-multiple-container{
    width: 100%;
}
.w-25 .ui-autocomplete-multiple-container .ui-autocomplete-input-token{
    width: 100%;
}
.w-25 .ui-autocomplete-multiple-container .ui-autocomplete-input-token input{
    width: 100% !important;
}
/* styleClass="w-50" */
.w-50 .ui-autocomplete-multiple-container{
    width: 100%;
}
.w-50 .ui-autocomplete-multiple-container .ui-autocomplete-input-token{
    width: 100%;
}
.w-50 .ui-autocomplete-multiple-container .ui-autocomplete-input-token input{
    width: 100% !important;
}
/* styleClass="w-75" */
.w-75 .ui-autocomplete-multiple-container{
    width: 100%;
}
.w-75 .ui-autocomplete-multiple-container .ui-autocomplete-input-token{
    width: 100%;
}
.w-75 .ui-autocomplete-multiple-container .ui-autocomplete-input-token input{
    width: 100% !important;
}
/* styleClass="w-100" */
.w-100 .ui-autocomplete-multiple-container{
    width: 100%;
}
.w-100 .ui-autocomplete-multiple-container .ui-autocomplete-input-token{
    width: 100%;
}
.w-100 .ui-autocomplete-multiple-container .ui-autocomplete-input-token input{
    width: 100% !important;
}
/*--------------------------------------------------------------------------*/

/*Класс с шириной 100% для PrimeNG компонентов*/
/* styleClass="wid100" */
.wid100{
    width: 100%;
}
.wid100 .ui-autocomplete-multiple-container{
    width: 100%;
}
.wid100 .ui-autocomplete-multiple-container .ui-autocomplete-input-token {
    width: 100%;
}
.wid100 .ui-autocomplete-multiple-container .ui-autocomplete-input-token input{
    width: 100% !important;
}