<div style="display: inline-block; margin: 0 0 0 1em;">
    <span style="margin: 0 .5em 0 0">Год:</span>
    <p-dropdown [style]="{display: 'inline-block'}" [options]="yearRange" (ngModelChange)="changeYear($event)"
                [(ngModel)]="semesterNumberYear.year"></p-dropdown>
    <span style="margin: 0 .5em 0 1em">Семестр:</span>
    <p-dropdown [style]="{display: 'inline-block'}" [options]="semesterRange" (ngModelChange)="changeSemester($event)"
                [(ngModel)]="semesterNumberYear.semester"></p-dropdown>
    <span class="button-control-bar">
        <button title="Назад" (click)="back()"><i class="fa fa-chevron-circle-left" aria-hidden="true"></i></button>
        <button title="Сейчас" (click)="current()"><i class="fa fa-dot-circle-o" aria-hidden="true"></i></button>
        <button title="Вперед" (click)="next()"><i class="fa fa-chevron-circle-right" aria-hidden="true"></i></button>
    </span>
</div>