<div *ngIf="journal.students.length > 0 && !showLoader" class="col-sm-12 text-right journal">
    <table class="table table-bordered table-striped">
        <colgroup>
            <col span="1" style="width: 25%;">
        </colgroup>
        <thead class="thead">
        <tr>
            <td></td>
            <ng-container>
                <ng-container>
                    <td [attr.colspan]="getHeaderLength()">
                        <div class="col-sm-3 text-left">
                            <span class="nav-button" (click)="backMonth()"><i class="fa fa-angle-left" aria-hidden="true"></i></span>
                        </div>
                        <div class="col-sm-6 text-center">
                            {{(journal.comparison[0].date | date: 'MMM')[0].toUpperCase() + (journal.comparison[0].date | date: 'MMM').slice(1)}}
                        </div>
                        <div class="col-sm-3 text-right">
                            <span class="nav-button" (click)="nextMonth()"><i class="fa fa-angle-right" aria-hidden="true"></i></span>
                        </div>
                    </td>
                </ng-container>
            </ng-container>
        </tr>
        <tr>
            <td>Дата</td>
            <ng-container *ngFor="let head of header">
                <td [attr.colspan]="getDateLen(head)" [ngClass]="{today: isCurrentDate(head.date)}">
                    {{head.date.getDate()}}
                </td>
            </ng-container>
        </tr>
        <tr>
            <td>Номер занятия</td>
            <ng-container *ngFor="let head of header">
                <ng-container *ngFor="let num of head.numbers">
                    <td [attr.colspan]="num.types.length" >
                        {{num.number}}
                    </td>
                </ng-container>
            </ng-container>
        </tr>
        <tr>
            <td><b>ФИО.</b></td>
            <ng-container *ngFor="let head of header">
                <ng-container *ngFor="let numbers of head.numbers">
                    <ng-container *ngFor="let type of numbers.types">
                        <td [ngSwitch]="type.type.name" style="font-size: 14px" [title]="type.type.name">
                            <span *ngSwitchCase="'Посещение'"><i class="fa fa-sign-in" aria-hidden="true"></i></span>
                            <span *ngSwitchDefault><i class="fa fa-circle" aria-hidden="true"></i></span>
                        </td>
                    </ng-container>
                </ng-container>
            </ng-container>
        </tr>
        </thead>
        <tbody>
            <tr *ngFor="let student of journal.students">
                <td style="text-align: right"><span [userCard]="student.user">{{student.user.userFIO}}</span></td>
                <ng-container *ngFor="let head of header">
                    <ng-container *ngFor="let num of head.numbers">
                        <ng-container *ngFor="let type of num.types">
                            <ng-container *ngFor="let cell of journal.journalCell">
                                <ng-container *ngIf="eqDate(head.date, cell.date) && type.type.name == cell.type.name && type.pair.id == cell.pairId && cell.studentId == student.id">
                                    <td [ngClass]="{whiteZero: cell.value == 0}">
                                        <input #element
                                               [value]="cell.value"
                                               (blur)="setCellValue(element.value, cell)"
                                               type="number">
                                    </td>
                                </ng-container>
                            </ng-container>
                        </ng-container>
                    </ng-container>
                </ng-container>

            </tr>
        </tbody>
    </table>

    <div class="col-sm-12 text-right">
        <button (click)="save()" class="btn btn-info btn-success">Сохранить</button>
    </div>
</div>


<data-loader [show]="showLoader" [margin]="9"></data-loader>

<div *ngIf="journal.students.length == 0" class="students-not-found">
    <h1>Студенты для группы не заданы.</h1>
</div>