.pair-details {
    display: inline-block;
    border: 1px solid #ddd;
    padding: 1em 2em;
    border-radius: 5px;
    background: white;
}

.close-button {
    display: inline;
    position: absolute;
    top: -7px;
    right: -8px;
    border: 1px solid #0006;
    background: white;
    padding: 1px 7px;
    border-radius: 50%;
    cursor: pointer;
    font-size: 13px;
}