/* You can add global styles to this file, and also import other style files */
html, body {
  height: 100%;
  width: 100%;
  padding: 0;
  margin: 0;
  background-color: #F8F8FF;
}

@font-face {
  font-family: Souvenir;
  src: url(./fonts/Souvenir.ttf);
}

h1,h2,h3,h4,h5,h6{
  padding: 0;
  margin: 0;
  font-family: Franklin-Gothic-Bold;
  color: #3d3d3d;
}

p{
  font-family: Souvenir;
}
@media (min-width: 1400px)
{
  .container,
  .navbar-static-top .container,
  .navbar-fixed-top .container,
  .navbar-fixed-bottom .container {
    width: 1400px;
  }
}

a{
  color: #008080;
}

a:hover{
  text-decoration: none;
  border-bottom: 1px dashed #000080;
}

hr{
  border-top: 1px solid #C8EDED;
}

.btn-success{
  background-color: #008080 !important;
  background-image: linear-gradient(to bottom,#00AEAE 0,#008080 100%);
  color: white;
}

.btn-success:hover,.btn-success:focus,.btn-success:visited{
  background-color: #39B1B1 !important;
  background-image: linear-gradient(to bottom,#43E0E0 0,#39B1B1 100%);
  color: white;
}

.btn-danger{
  background-color: #981D2B !important;
  background-image: linear-gradient(to bottom,#DB4F60 0,#953742 100%);
  color: white;
}

.btn-danger:hover,.btn-danger:focus,.btn-danger:visited{
  background-color: #DB4F60 !important;
  background-image: linear-gradient(to bottom,#F77A89 0,#DB4F60 100%);
  color: white;
}

.navbar{
  margin-bottom: 1em;
}

.header
{
  padding: 5em 0;
  font-size: 1em;
  text-align: center;
}

.header p
{
  color: #8B8B8B;
}

* {
  margin: 0;
  padding: 0;
}
html,
body {
  height: 100%;
}
.wrapper {
  display: flex;
  flex-direction: column;
  height: 100%;
}
.content {
  flex: 1 0 auto;
}
.footer {
  flex: 0 0 auto;
}
