<div *ngIf="!loading">
   <div class="find-place text-left">
      <span>Найти </span>
      <input #gb type="text" placeholder="Текст поиска">
   </div>
   <div *ngIf="data && data.content" class=" text-center">
      <p-dataTable
              [value]="data.content"
              [lazy]="true"
              [rows]="10"
              [paginator]="true"
              [rowsPerPageOptions]="[5,10,15]"
              [totalRecords]="data.totalNumber"
              (onLazyLoad)="loadLazy($event)"
              [globalFilter]="gb">
         <p-column *ngFor="let field of columnsName"
                   field="{{field}}"
                   header="{{field | translate}}">
            <ng-template let-col let-fields="rowData" let-ri="rowIndex" pTemplate="body">
               <ng-template [ngIf]="!isArray(fields[field]) && !itIsObject(fields[field])">
                  <span>{{fields[field]}}</span>
               </ng-template>
               <ng-template [ngIf]="isArray(fields[field])">
                  <ng-template ngFor let-item [ngForOf]="fields[field]">
                     <span *ngFor="let itemField of getKeys(item)">
                        {{item[itemField]}}
                     </span>
                  </ng-template>
               </ng-template>
               <ng-template [ngIf]="itIsObject(fields[field]) && !isArray(fields[field])">
                  <span *ngFor="let itemField of getKeys(fields[field])">
                     {{fields[field][itemField]}}
                  </span>
               </ng-template>
            </ng-template>
         </p-column>
         <p-column *ngIf="editable || clickableRow"
                   field=""
                  header="Действия">
            <ng-template let-item let-col let-fields="rowData" let-ri="rowIndex" pTemplate="body">
               <button *ngIf="editable" (click)="edit(fields)" class="btn btn-warning btn-sm"><i class="fa fa-pencil-square-o"></i></button>
               <button *ngIf="editable" (click)="delete(fields)" class="btn btn-danger btn-sm"><i class="fa fa-times"></i></button>
               <button *ngIf="clickableRow" (click)="config(fields)" class="btn btn-success btn-sm"><i class="fa fa-cog"></i></button>
            </ng-template>
         </p-column>
      </p-dataTable>
   </div>
</div>

<data-loader [show]="loading" [margin]="9"></data-loader>